body{

}
header {
  width: auto;
  height: auto;
}
#backgroundIMG{
  width: 50%;
  background-position: center;
}
.green{
  color: #727a9f;
  background-color: #ccd6c7;
}
.yellow{
  color: #9f7297;
  background-color: #e2dd69;
}
#highlight{
  color: red;
}
